<div class="portalblock" style="min-height: 50px;">
	<h3 style="text-align:center">Ventrilo Fund</h3>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="M7CJ5X8C8HXVY">
		<input type="image" src="http://www.prestige-swc.com/images/portal/paypal-donate.png" border="0" name="submit" alt="PayPal – The safer, easier way to pay online." style="width: 140px; padding-left:30px">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
	</form>
   <p style="text-align: right; padding-right: 15px;"><a href="/viewtopic.php?f=30&t=1937">More Info &raquo;</a></p>
</div>